body{
        background-color: rgb(140, 140, 221);
}

h2{
    margin-top: 3%;
    text-align: center;
}
    
p{
    margin-top: 40px;
    margin-left: 20px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkblue;
}

input[type="button"]{

    background-color: rgb(39, 14, 107);
    size: 2px;
    border-radius: 2px;
    
    text-align: center;
    padding: 5px 5px; 
    width: 100px;
    outline: none;
    color: whitesmoke;
    font-size: large;
    margin-left: 125px;
}

 input[type="button"]:hover{
    background-color: salmon;
    transition: 0.15s;
    cursor: pointer;
    /* border-radius: 500px; */
    
    color: seagreen;
    font-size: large;  
}

input[type="text"],input[type="number"]{
    
    text-align: center;
    margin-bottom: 12px;
    outline: none;
    color: black;
    font-size: medium;
    margin-left: 75px;
}

#ans1,#ans2,#ans3,#ans4,#ans5,#ans6,#ans7,#ans8,#ans9,#ans10{
    margin-top: 10px;
    margin-left: 20%;
    font-weight: 700;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke
}